.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.form-title {
    font-size: 4.5rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
}

.form-button {
    margin-top: 4rem;
}

.form-link{
    color: #1B1212;
}
