.login-container {
    display: grid;
    grid-template-rows: auto 1fr;
    z-index: 1;
}

.title {
    text-align: center;
    margin: 2rem 0;
    padding-bottom: 10rem;
    color: #1B1212;
}

.login-form-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 2rem;
    align-items: baseline;
    margin: 0 auto;
    width: 100%;
}

.text-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
}

.text-image-container h1 {
    font-size: 8rem;
    color: #1B1212;
    margin: 0;
    z-index: 3;
    position: relative;
}

.text-image-container p {
    font-size: 3rem;
    color: #1B1212;
    margin: 0;
    z-index: 3;
    position: relative;
}

.text-image-container img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-top: -10rem;
    z-index: 1;
    position: relative;
}

@media (max-width: 768px) {
    .login-form-container {
        grid-template-columns: 1fr;
    }
    
    .text-image-container {
        order: 2;
        align-items: center;
        text-align: center;
    }
    
    .text-image-container img {
        max-width: 300px;
    }
}

