.streak-card {
    background-color: #E2F1F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.icon-park-solid--fire {
    display: inline-block;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='%23FF9100' stroke='black' stroke-linejoin='round' stroke-width='0.5' d='M24 44c8.235 0 15-6.526 15-14.902c0-2.056-.105-4.26-1.245-7.686s-1.369-3.868-2.574-5.984c-.515 4.317-3.27 6.117-3.97 6.655c0-.56-1.666-6.747-4.193-10.45C24.537 8 21.163 5.617 19.185 4c0 3.07-.863 7.634-2.1 9.96c-1.236 2.325-1.468 2.41-3.013 4.14s-2.253 2.265-3.545 4.365S9 27.362 9 29.418C9 37.794 15.765 44 24 44Z'/%3E%3C/svg%3E");
    position: relative;
}

.icon-park-solid--fire.no-streak {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='transparent' stroke='black' stroke-linejoin='round' stroke-width='0.5' d='M24 44c8.235 0 15-6.526 15-14.902c0-2.056-.105-4.26-1.245-7.686s-1.369-3.868-2.574-5.984c-.515 4.317-3.27 6.117-3.97 6.655c0-.56-1.666-6.747-4.193-10.45C24.537 8 21.163 5.617 19.185 4c0 3.07-.863 7.634-2.1 9.96c-1.236 2.325-1.468 2.41-3.013 4.14s-2.253 2.265-3.545 4.365S9 27.362 9 29.418C9 37.794 15.765 44 24 44Z'/%3E%3C/svg%3E");
}

.streak-count {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    font-weight: bold;
    color: #000;
    margin: 0;
}

.streak-card h1 {
    text-align: center;
    font-weight: 500;
    margin: 0.5rem 0;
}

.dashed-line {
    width: 100%;
    border: none;
    border-top: 1px dashed #000000;
    margin: 1rem 0;
    opacity: 0.5;
}

.streak-card p {
    text-align: center;
    margin: 0.5rem 0;
}

.longest-streak {
    color: #666;
    font-size: 0.9rem;
    margin-top: -0.5rem;
}
